body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:74px;
  width:213px;
  height:286px;
  display:flex;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:286px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:74px;
  width:192px;
  height:286px;
  display:flex;
}
#u475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:46px;
  width:213px;
  height:26px;
  display:flex;
  color:#000000;
}
#u476 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:46px;
  width:192px;
  height:26px;
  display:flex;
  color:#000000;
}
#u477 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478 label {
  left:0px;
  width:100%;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:137px;
  width:28px;
  height:16px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u478_img.selected {
}
#u478.selected {
}
#u478_img.disabled {
}
#u478.disabled {
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:137px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u479 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u480 label {
  left:0px;
  width:100%;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:173px;
  width:28px;
  height:16px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u480_img.selected {
}
#u480.selected {
}
#u480_img.disabled {
}
#u480.disabled {
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:173px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482 label {
  left:0px;
  width:100%;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:209px;
  width:28px;
  height:16px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u482_img.selected {
}
#u482.selected {
}
#u482_img.disabled {
}
#u482.disabled {
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:209px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484 label {
  left:0px;
  width:100%;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:245px;
  width:28px;
  height:16px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u484_img.selected {
}
#u484.selected {
}
#u484_img.disabled {
}
#u484.disabled {
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:245px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u486 label {
  left:0px;
  width:100%;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:137px;
  width:28px;
  height:16px;
  display:flex;
}
#u486 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u486_img.selected {
}
#u486.selected {
}
#u486_img.disabled {
}
#u486.disabled {
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:137px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u488 label {
  left:0px;
  width:100%;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:173px;
  width:28px;
  height:16px;
  display:flex;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u488_img.selected {
}
#u488.selected {
}
#u488_img.disabled {
}
#u488.disabled {
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:173px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u490 label {
  left:0px;
  width:100%;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:209px;
  width:28px;
  height:16px;
  display:flex;
}
#u490 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u490_img.selected {
}
#u490.selected {
}
#u490_img.disabled {
}
#u490.disabled {
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:209px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u491 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492 label {
  left:0px;
  width:100%;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:245px;
  width:28px;
  height:16px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u492_img.selected {
}
#u492.selected {
}
#u492_img.disabled {
}
#u492.disabled {
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:12px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:245px;
  width:161px;
  height:26px;
  display:flex;
  color:#000000;
}
#u493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:392px;
  width:80px;
  height:25px;
  display:flex;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:392px;
  width:80px;
  height:25px;
  display:flex;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:16px;
  width:131px;
  height:26px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:36px;
  width:608px;
  height:1px;
  display:flex;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:10px;
  width:17px;
  height:28px;
  display:flex;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:183px;
  width:28px;
  height:26px;
  display:flex;
  color:#000000;
}
#u499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
