body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:43px;
  width:305px;
  height:26px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
