body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:43px;
  width:141px;
  height:26px;
  display:flex;
}
#u412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:68px;
  width:814px;
  height:1px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:17px;
  height:28px;
  display:flex;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:88px;
  width:115px;
  height:120px;
}
#u415_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u417_img.selected {
}
#u417.selected {
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:83px;
  height:20px;
  display:flex;
}
#u418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u416_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:79px;
  height:20px;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u420_img.selected {
}
#u420.selected {
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
  display:flex;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u419_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:61px;
  height:20px;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:75px;
  height:20px;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
  display:flex;
}
#u425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:61px;
  height:20px;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:61px;
  height:20px;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u430 label {
  left:0px;
  width:100%;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:109px;
  width:18px;
  height:15px;
  display:flex;
}
#u430 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u430_img.selected {
}
#u430.selected {
}
#u430_img.disabled {
}
#u430.disabled {
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u430_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u431 label {
  left:0px;
  width:100%;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:131px;
  width:18px;
  height:15px;
  display:flex;
}
#u431 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u431_img.selected {
}
#u431.selected {
}
#u431_img.disabled {
}
#u431.disabled {
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u431_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u432 label {
  left:0px;
  width:100%;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:151px;
  width:18px;
  height:15px;
  display:flex;
}
#u432 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u432_img.selected {
}
#u432.selected {
}
#u432_img.disabled {
}
#u432.disabled {
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u432_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:345px;
  width:69px;
  height:25px;
  display:flex;
}
#u433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:345px;
  width:69px;
  height:25px;
  display:flex;
}
#u434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u435 label {
  left:0px;
  width:100%;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:88px;
  width:108px;
  height:15px;
  display:flex;
}
#u435 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u435_img.selected {
}
#u435.selected {
}
#u435_img.disabled {
}
#u435.disabled {
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:92px;
  word-wrap:break-word;
  text-transform:none;
}
#u435_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
