body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:129px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:29px;
  width:866px;
  height:129px;
  display:flex;
}
#u2368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  text-align:left;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:182px;
  width:853px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  text-align:left;
}
#u2369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  text-align:left;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:234px;
  width:853px;
  height:122px;
  display:flex;
  text-decoration:underline ;
  text-align:left;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:375px;
  width:52px;
  height:15px;
  display:flex;
}
#u2371 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:366px;
  width:60px;
  height:25px;
  display:flex;
}
#u2372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:366px;
  width:60px;
  height:25px;
  display:flex;
}
#u2373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:366px;
  width:60px;
  height:25px;
  display:flex;
}
#u2374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2375_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:41px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:391px;
  width:853px;
  height:41px;
  display:flex;
}
#u2375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2375_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:41px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375.disabled {
}
#u2376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2376_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:260px;
  width:157px;
  height:25px;
  display:flex;
}
#u2376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2376_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2376.disabled {
}
#u2377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:260px;
  width:60px;
  height:25px;
  display:flex;
}
#u2377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:260px;
  width:60px;
  height:25px;
  display:flex;
}
#u2378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:285px;
  width:60px;
  height:25px;
  display:flex;
}
#u2379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
