body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:93px;
  width:881px;
  height:108px;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  display:flex;
}
#u2660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:118px;
  height:36px;
  display:flex;
}
#u2661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:150px;
  height:36px;
  display:flex;
}
#u2662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:179px;
  height:36px;
  display:flex;
}
#u2663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:135px;
  height:36px;
  display:flex;
}
#u2664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:0px;
  width:148px;
  height:36px;
  display:flex;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:151px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u2666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:36px;
  width:118px;
  height:36px;
  display:flex;
}
#u2667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:36px;
  width:150px;
  height:36px;
  display:flex;
}
#u2668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:36px;
  width:179px;
  height:36px;
  display:flex;
}
#u2669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:36px;
  width:135px;
  height:36px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:36px;
  width:148px;
  height:36px;
  display:flex;
}
#u2671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:151px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u2672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:72px;
  width:118px;
  height:36px;
  display:flex;
}
#u2673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:72px;
  width:150px;
  height:36px;
  display:flex;
}
#u2674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:72px;
  width:179px;
  height:36px;
  display:flex;
}
#u2675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:72px;
  width:135px;
  height:36px;
  display:flex;
}
#u2676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:72px;
  width:148px;
  height:36px;
  display:flex;
}
#u2677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:25px;
  width:141px;
  height:26px;
  display:flex;
}
#u2678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:2px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:50px;
  width:881px;
  height:1px;
  display:flex;
}
#u2679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:20px;
  width:17px;
  height:28px;
  display:flex;
}
#u2680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:67px;
  width:32px;
  height:26px;
  display:flex;
}
#u2681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:67px;
  width:34px;
  height:26px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:67px;
  width:118px;
  height:26px;
  display:flex;
}
#u2683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
