body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:808px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:779px;
  height:2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:45px;
  width:778px;
  height:1px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:70px;
  width:779px;
  height:102px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:86px;
  height:36px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:134px;
  height:36px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:0px;
  width:94px;
  height:36px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:103px;
  height:36px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:0px;
  width:99px;
  height:36px;
  display:flex;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:0px;
  width:99px;
  height:36px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:0px;
  width:98px;
  height:36px;
  display:flex;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:66px;
  height:36px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:36px;
  width:86px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:36px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:36px;
  width:134px;
  height:36px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:36px;
  width:94px;
  height:36px;
  display:flex;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:36px;
  width:103px;
  height:36px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:36px;
  width:99px;
  height:36px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:36px;
  width:99px;
  height:36px;
  display:flex;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:36px;
  width:98px;
  height:36px;
  display:flex;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:66px;
  height:30px;
  display:flex;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:72px;
  width:86px;
  height:30px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:72px;
  width:134px;
  height:30px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:72px;
  width:94px;
  height:30px;
  display:flex;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:72px;
  width:103px;
  height:30px;
  display:flex;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:72px;
  width:99px;
  height:30px;
  display:flex;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:72px;
  width:99px;
  height:30px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:72px;
  width:98px;
  height:30px;
  display:flex;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:18px;
  width:141px;
  height:26px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:12px;
  width:17px;
  height:28px;
  display:flex;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:12px;
  width:65px;
  height:25px;
  display:flex;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35 label {
  left:0px;
  width:100%;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:116px;
  width:25px;
  height:16px;
  display:flex;
}
#u35 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.disabled {
}
#u35.disabled {
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:9px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u36 label {
  left:0px;
  width:100%;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:149px;
  width:25px;
  height:16px;
  display:flex;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u36_img.selected {
}
#u36.selected {
}
#u36_img.disabled {
}
#u36.disabled {
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:9px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u37 label {
  left:0px;
  width:100%;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:25px;
  height:16px;
  display:flex;
}
#u37 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.disabled {
}
#u37.disabled {
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:9px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
