body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:832.000304136139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:2px;
}
#u3136 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:47px;
  width:822px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0697074316220206deg);
  -moz-transform:rotate(0.0697074316220206deg);
  -ms-transform:rotate(0.0697074316220206deg);
  transform:rotate(0.0697074316220206deg);
}
#u3136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3137 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:17px;
  width:56px;
  height:26px;
  display:flex;
}
#u3137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u3138 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:12px;
  width:17px;
  height:28px;
  display:flex;
}
#u3138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
}
#u3139 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:73px;
  width:79px;
  height:26px;
  display:flex;
}
#u3139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3140_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3140 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:69px;
  width:690px;
  height:25px;
  display:flex;
}
#u3140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3140_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3140.disabled {
}
#u3141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u3141 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:120px;
  width:59px;
  height:26px;
  display:flex;
}
#u3141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3142_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:119px;
  width:322px;
  height:25px;
  display:flex;
}
#u3142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3142_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3142.disabled {
}
#u3143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:121px;
  width:59px;
  height:26px;
  display:flex;
}
#u3143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3144_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:119px;
  width:264px;
  height:25px;
  display:flex;
}
#u3144 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3144_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3144.disabled {
}
.u3144_input_option {
}
#u3145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:171px;
  width:59px;
  height:26px;
  display:flex;
}
#u3145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:170px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3146_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:170px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:170px;
  width:692px;
  height:170px;
  display:flex;
}
#u3146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3146_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:170px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3146.disabled {
}
#u3147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:395px;
  width:79px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u3147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:395px;
  width:79px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u3148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
