body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:43px;
  width:141px;
  height:26px;
  display:flex;
}
#u388 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:2px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:68px;
  width:814px;
  height:1px;
  display:flex;
}
#u389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:17px;
  height:28px;
  display:flex;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:88px;
  width:81px;
  height:120px;
}
#u391_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u393_img.selected {
}
#u393.selected {
}
#u393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:57px;
  height:20px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u392_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:61px;
  height:20px;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:61px;
  height:20px;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:61px;
  height:20px;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:66px;
  height:20px;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
  display:flex;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_img.selected {
}
#u402.selected {
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
  display:flex;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u403_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u401_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:61px;
  height:20px;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:39px;
  height:20px;
  display:flex;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 3px;
  box-sizing:border-box;
  width:100%;
}
#u405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u406 label {
  left:0px;
  width:100%;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:109px;
  width:18px;
  height:16px;
  display:flex;
}
#u406 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u406_img.selected {
}
#u406.selected {
}
#u406_img.disabled {
}
#u406.disabled {
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u407 label {
  left:0px;
  width:100%;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:131px;
  width:18px;
  height:16px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u407_img.selected {
}
#u407.selected {
}
#u407_img.disabled {
}
#u407.disabled {
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u408 label {
  left:0px;
  width:100%;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:151px;
  width:18px;
  height:16px;
  display:flex;
}
#u408 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u408_img.selected {
}
#u408.selected {
}
#u408_img.disabled {
}
#u408.disabled {
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u408_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u409 label {
  left:0px;
  width:100%;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:190px;
  width:18px;
  height:16px;
  display:flex;
}
#u409 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u409_img.selected {
}
#u409.selected {
}
#u409_img.disabled {
}
#u409.disabled {
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:2px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u409_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:345px;
  width:69px;
  height:25px;
  display:flex;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:345px;
  width:69px;
  height:25px;
  display:flex;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
