body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:38px;
  width:574px;
  height:102px;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
  display:flex;
}
#u2744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:0px;
  width:99px;
  height:36px;
  display:flex;
}
#u2745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:0px;
  width:117px;
  height:36px;
  display:flex;
}
#u2746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:178px;
  height:36px;
  display:flex;
}
#u2747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:126px;
  height:36px;
  display:flex;
}
#u2748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:54px;
  height:36px;
  display:flex;
}
#u2749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:36px;
  width:99px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u2750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:36px;
  width:117px;
  height:36px;
  display:flex;
}
#u2751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:36px;
  width:178px;
  height:36px;
  display:flex;
}
#u2752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:36px;
  width:126px;
  height:36px;
  display:flex;
}
#u2753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:54px;
  height:30px;
  display:flex;
}
#u2754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:72px;
  width:99px;
  height:30px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u2755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:72px;
  width:117px;
  height:30px;
  display:flex;
}
#u2756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:72px;
  width:178px;
  height:30px;
  display:flex;
}
#u2757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:72px;
  width:126px;
  height:30px;
  display:flex;
}
#u2758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
