body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861.000304136139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:2px;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:57px;
  width:822px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0697074316220206deg);
  -moz-transform:rotate(0.0697074316220206deg);
  -ms-transform:rotate(0.0697074316220206deg);
  transform:rotate(0.0697074316220206deg);
}
#u3149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:27px;
  width:56px;
  height:26px;
  display:flex;
}
#u3150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:22px;
  width:17px;
  height:28px;
  display:flex;
}
#u3151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:280px;
  width:79px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u3152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:77px;
  width:56px;
  height:26px;
  display:flex;
}
#u3153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3154 label {
  left:0px;
  width:100%;
}
#u3154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:77px;
  width:100px;
  height:15px;
  display:flex;
}
#u3154 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3154_img.selected {
}
#u3154.selected {
}
#u3154_img.disabled {
}
#u3154.disabled {
}
#u3154_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3154_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3155 label {
  left:0px;
  width:100%;
}
#u3155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:77px;
  width:100px;
  height:15px;
  display:flex;
}
#u3155 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3155_img.selected {
}
#u3155.selected {
}
#u3155_img.disabled {
}
#u3155.disabled {
}
#u3155_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3155_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:280px;
  width:79px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u3156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
