body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861.000304136139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:2px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:57px;
  width:822px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0697074316220206deg);
  -moz-transform:rotate(0.0697074316220206deg);
  -ms-transform:rotate(0.0697074316220206deg);
  transform:rotate(0.0697074316220206deg);
}
#u3043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:26px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:27px;
  width:154px;
  height:26px;
  display:flex;
}
#u3044 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3044_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:22px;
  width:17px;
  height:28px;
  display:flex;
}
#u3045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:150px;
  width:818px;
  height:120px;
  display:flex;
}
#u3046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:80px;
  width:119px;
  height:30px;
  display:flex;
}
#u3047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:80px;
  width:119px;
  height:30px;
  display:flex;
}
#u3048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:80px;
  width:79px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u3049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:26px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:86px;
  width:191px;
  height:26px;
  display:flex;
  font-size:18px;
  color:#AAAAAA;
}
#u3050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3050_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:204px;
  width:56px;
  height:26px;
  display:flex;
  color:#000000;
}
#u3051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3051_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:174px;
  width:49px;
  height:26px;
  display:flex;
  color:#000000;
}
#u3052 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3052_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:174px;
  width:56px;
  height:26px;
  display:flex;
  color:#000000;
}
#u3053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:174px;
  width:49px;
  height:26px;
  display:flex;
  color:#000000;
}
#u3054 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3054_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:174px;
  width:70px;
  height:26px;
  display:flex;
  color:#000000;
}
#u3055 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3055_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:310px;
  width:340px;
  height:40px;
  display:flex;
}
#u3056 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
