body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:62px;
  width:234px;
  height:26px;
  display:flex;
}
#u2730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:83px;
  width:637px;
  height:37px;
  display:flex;
}
#u2731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#006600;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:121px;
  width:324px;
  height:26px;
  display:flex;
  color:#006600;
}
#u2732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:32px;
  width:1px;
  height:16px;
  display:flex;
  color:#949494;
}
#u2733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:153px;
  width:234px;
  height:26px;
  display:flex;
}
#u2734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:174px;
  width:637px;
  height:37px;
  display:flex;
}
#u2735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#006600;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:212px;
  width:324px;
  height:26px;
  display:flex;
  color:#006600;
}
#u2736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:247px;
  width:234px;
  height:26px;
  display:flex;
}
#u2737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:268px;
  width:637px;
  height:37px;
  display:flex;
}
#u2738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#006600;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:306px;
  width:324px;
  height:26px;
  display:flex;
  color:#006600;
}
#u2739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:368px;
  width:49px;
  height:25px;
  display:flex;
}
#u2740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:368px;
  width:49px;
  height:25px;
  display:flex;
}
#u2741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:368px;
  width:49px;
  height:25px;
  display:flex;
}
#u2742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
