body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:2px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:45px;
  width:876px;
  height:1px;
  display:flex;
}
#u1026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:17px;
  width:141px;
  height:26px;
  display:flex;
}
#u1027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:12px;
  width:17px;
  height:28px;
  display:flex;
}
#u1028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:14px;
  width:69px;
  height:25px;
  display:flex;
}
#u1029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:62px;
  width:871px;
  height:102px;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  display:flex;
}
#u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:90px;
  height:36px;
  display:flex;
}
#u1032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:137px;
  height:36px;
  display:flex;
}
#u1033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:0px;
  width:119px;
  height:36px;
  display:flex;
}
#u1034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:117px;
  height:36px;
  display:flex;
}
#u1035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:0px;
  width:114px;
  height:36px;
  display:flex;
}
#u1036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:0px;
  width:170px;
  height:36px;
  display:flex;
}
#u1037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:124px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u1038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:36px;
  width:90px;
  height:36px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u1039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:36px;
  width:137px;
  height:36px;
  display:flex;
}
#u1040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:36px;
  width:119px;
  height:36px;
  display:flex;
}
#u1041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:36px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:36px;
  width:117px;
  height:36px;
  display:flex;
}
#u1042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:36px;
  width:114px;
  height:36px;
  display:flex;
}
#u1043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:36px;
  width:170px;
  height:36px;
  display:flex;
}
#u1044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:124px;
  height:30px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u1045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:72px;
  width:90px;
  height:30px;
  display:flex;
  text-decoration:underline ;
  color:#199ED8;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:72px;
  width:137px;
  height:30px;
  display:flex;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:72px;
  width:119px;
  height:30px;
  display:flex;
}
#u1048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:72px;
  width:117px;
  height:30px;
  display:flex;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:72px;
  width:114px;
  height:30px;
  display:flex;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:72px;
  width:170px;
  height:30px;
  display:flex;
}
#u1051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1052_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:14px;
  width:313px;
  height:25px;
  display:flex;
}
#u1052 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052.disabled {
}
.u1052_input_option {
}
